VITE_SUPABASE_URL=https://exhquyzarmcbbpxwzcoc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4aHF1eXphcm1jYmJweHd6Y29jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMTkzODMsImV4cCI6MjA5MDU5NTM4M30.Heqc3NTrk3T0fwEb4jru81In8XwLXkgsoC1Fs0bx_jI
